/*
 *--------------------------------------------------------------
 * FrontKit Example - Main Stylesheet
 *
 * codename: FrontKit
 * Date: @DATE
 *
 *
 * LESS - http://lesscss.org
 * jQuery - http://jquery.com
 * Modernizr - http://modernizr.com/
 * HTML5 Boilerplate - http://html5boilerplate.com/
 *
 * 
 *
 *--------------------------------------------------------------
 */



// Normalize
@import "lib/normalize.less";


// Variables
@import "lib/variables.less";


// Mixins
@import "lib/mixins.less";


// Base stylesheets
@import "lib/foundation.less";


// Common elements
@import "lib/common.less";


/*
 *--------------------------------------------------------------
 * PAGE LAYOUT
 * Customization starts here
 *
 *--------------------------------------------------------------
 */



// Global Grid System with 16 grid column (based on 1140px grid system)
.row, 
.main, 
.navbar {
	width: 100%;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.row, .main { max-width: 1140px; }

.main {
	padding-left: 20px;
	padding-right: 20px;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .thirteencol, .fourteencol, .fifteencol, .sixteencol {
	float: left;
}


.row-fluid {
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .thirteencol, .fourteencol, .fifteencol, .sixteencol {
		margin-right: 1.82%;
	}	
	.onecol { width: 4.55%; }
	.twocol { width: 10.92%; }
	.threecol { width: 17.27%; }
	.fourcol { width: 23.64%; }
	.fivecol { width: 30%; }
	.sixcol { width: 36.36%; }
	.sevencol { width: 42.73%; }
	.eightcol { width: 49.09%; }
	.ninecol { width: 55.45%; }
	.tencol { width: 61.82%; }
	.elevencol { width: 68.18%; }
	.twelvecol { width: 74.55%; }
	.thirteencol { width: 80.90%; }
	.fourteencol { width: 87.27%; }
	.fifteencol { width: 93.64%; }
	.sixteencol { width: 100%; }
}

.row {
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .thirteencol, .fourteencol, .fifteencol, .sixteencol {
		margin-right: 20px;
	}
	.onecol { width: 50px; }
	.twocol { width: 120px; }
	.threecol { width: 190px; }
	.fourcol { width: 260px; }
	.fivecol { width: 330px; }
	.sixcol { width: 400px; }
	.sevencol { width: 470px; }
	.eightcol { width: 540px; }
	.ninecol { width: 610px; }
	.tencol { width: 680px; }
	.elevencol { width: 750px; }
	.twelvecol { width: 820px; }
	.thirteencol { width: 890px; }
	.fourteencol { width: 960px; }
	.fifteencol { width: 1030px; }
	.sixteencol { width: 1100px; }
}

.gridrow { margin-bottom: 20px;}

.row,
.row-fluid {
	overflow: hidden;
	.grid {
		.box-round(3px);
		background: #efefef;
		padding: 3px;
		text-align: center;
	}
	.last {
		margin-right: 0px;
	}
}


// Navbar
.navbar {
	.box-gradient(#434343, #000, 2);
	padding: 0 50px;
	nav {
		float: left;
		display: block;
		ul {
			width: 600px;
			li {
				text-align: center;
				a {
					display: block;
					float: left;
					margin: 0;
					padding: 10px;
					color: #666;
					text-decoration: none;
					&.active,
					&:hover {
						color: #fff;
						background: #000;
					}
				}
				&.home a { 
					width: 20px;
					height: 19px;
					margin: 10px 12px 0 0;
					overflow: hidden;
					position: relative;
					display: block;
					float: left;
					padding: 0;
					&:before {
						margin: -19px 0 0;
						content: url(../images/icon-home.png);
						line-height: 0;
						font-size: 0;
						display: inline-block;
					}
					&:hover:before,
					&.active:before{ margin: 0; }
				}
			}
		}
	}
}


// Body
.main {
	header {
		margin: 0 0 40px;
		h1 { 
			margin-bottom: 0;
			.font-size(40);
		}
		h2 { 
			font-weight: normal;
			margin: 0;
		}
	}
	section {
		padding: 0;
		&.page-section {
			margin: 0 0 40px;
		}
		.section-header { 
			border-bottom: solid 1px #ececec; 
			padding: 0;
			margin: 0 0 1em;
			h1 { 
				margin: 0; 
				.font-size(28); 
				small {
					.font-size(12);
					color: #666;
					font-weight: normal;
				}
			}
		}
		.row-fluid,
		.row {
			h2 { 
				margin: 0; 
				.font-size(18); 
				//font-weight: normal;
			}
		}
	}
}

// Pages


// Footer
footer {
	.font-size(11);
	padding: 1em 0;
	border-top: solid 1px #efefef;
}





/*
 *--------------------------------------------------------------
 * MEDIA QUERIES
 * Modify as content requires
 *--------------------------------------------------------------
 */

// iPhone orientation portrait
 @media screen and (max-width: 320px) {
 	//.main { padding: 0 20px;}
 }

// iPhone orientation landscape
 @media screen and (max-width: 480px) {

 }

// iPads and tablets orientation portrait
 @media screen and (max-width: 768px) {
 	.navbar { padding:0 5px;}
 	.row, body, .container, .main, .navbar {
	width: 100%;
	min-width: 0;
	//margin: 0;
	//padding: 0;
	}
	.main, .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	//margin: 0;
	//padding: 0;
	}
 }

// iPads, tablets orientation landscape and netbooks
 @media screen and (max-width: 1024px) {

 }





/*
 *--------------------------------------------------------------
 * PRINT
 *--------------------------------------------------------------
 */

@media print {
	* { 
		background: transparent !important; 
		color: black !important; 
		box-shadow:none !important; 
		text-shadow: none !important; 
		filter:none !important;
		 -ms-filter: none !important; 
	}	
	img { max-width: 100% !important; }
	a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
}