/*
 *--------------------------------------------------------------
 * FrontKit Example - Main Stylesheet
 *
 * codename: FrontKit
 * Date: @DATE
 *
 *
 * LESS - http://lesscss.org
 * jQuery - http://jquery.com
 * Modernizr - http://modernizr.com/
 * HTML5 Boilerplate - http://html5boilerplate.com/
 *
 * 
 *
 *--------------------------------------------------------------
 */
/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 *--------------------------------------------------------------
 * WEBSITE NAME - variables.less
 *
 * Variables for use in other .less files
 * note: edit to suit your needs
 * recommended: only edit the values
 *
 *--------------------------------------------------------------
 */
/*62.5%=10px, 75% = 12px, 87.5% = 14px, 100% = 16px*/
/*
 *--------------------------------------------------------------
 *
 * CSS3 LESS Mixins
 *
 * LESS Mixins for projects with CSS3 & LESS
 * http://lesscss.org
 *
 * @mixin font-size (rem & px based)
 * @mixin text-shadow
 * @mixin box-round (rounded corner box)
 * @mixin box-shadow
 * @mixin box-gradient
 *
 *
 *--------------------------------------------------------------
 */
/*----------------------------------------------------------

 Font Sizing
 rem sizing based
 @param sizeValue 	: number (desired px size/16)
 note               : 
 - based on rem sizing by Jonathan Snook http://snook.ca/archives/html_and_css/font-size-with-rem
 - the constant number '16' derived from our base font-size 100% which is equal to 16 in px measurement.
 - feel free to edit the constant number according to your baseline font size (62.5%==10, 87,5%=14, so on)
 - target/context = result (Ethan Marcotte http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/)

----------------------------------------------------------*/
/*---------------------------------------------------------

 Text Shadow
 @param x 			: number (X-axis)
 @param y 			: number (Y-axis)
 @param z-index		: number (Z-axis)
 @param color 		: color (hex)

/*----------------------------------------------------------*/
/*----------------------------------------------------------

 Box Radius
 @param radius		: number 

----------------------------------------------------------*/
/*----------------------------------------------------------

 Box Shadow
 @param x			     : number (X-axis)
 @param y 			   : number (Y-axis)
 @param z 			   : number (Z-axis)
 @param s 			   : number (size/strength of shadow) 
 @param color 		 : color (hex, color of shadow)

----------------------------------------------------------*/
/*----------------------------------------------------------

 Box Gradient
 @param from      : start color (hex)
 @param to        : end color (hex)
 @param end       : number (divider of region)

----------------------------------------------------------*/
/*
 *--------------------------------------------------------------
 * WEBSITE NAME - foundation.less
 *
 * Base stylesheet for html elements
 * note: edit to suit your needs
 * recommended: style html tags only
 *
 *--------------------------------------------------------------
 */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  background: #cc0000;
}
::-moz-selection {
  background: #cc0000;
}
html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  font-size: 87.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #ffffff;
  font: 87.5% /1.5 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', Arial, sans-serif;
  color: #333333;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
}
a:visited {
  color: #9ebccb;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 32px;
  font-size: 2.2857142857142856rem;
  margin: .67em 0;
}
h2 {
  font-size: 24px;
  font-size: 1.7142857142857142rem;
  margin: .875em 0;
}
h3 {
  font-size: 21px;
  font-size: 1.5rem;
  margin: 1em 0;
}
h4 {
  margin: 1.5em 0;
}
h5 {
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  margin: 1.75em 0;
}
h6 {
  font-size: 11px;
  font-size: 0.7857142857142857rem;
  margin: 2em 0;
}
p,
li {
  font-size: 14px;
  font-size: 1rem;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
small {
  font-size: 11px;
  font-size: 0.7857142857142857rem;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
mark {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
ul,
ol {
  margin: 0;
  padding: 0 0 0 15px;
}
img,
embed,
object,
video {
  max-width: 100%;
}
/*Improve image quality when scaled in IE7*/
img {
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
select,
option,
label,
input,
textarea,
button {
  font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', Arial, sans-serif;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
input[type="submit"],
button {
  border: none;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button,
input {
  line-height: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 *--------------------------------------------------------------
 * WEBSITE NAME - common.less
 *
 * Common elements (reusable custom Class & ID names)
 * note: edit to suit your needs
 *
 *--------------------------------------------------------------
 */
/*
 *--------------------------------------------------------------
 * NON-SEMANTIC HELPERS
 * recommended: leave lines below alone
 *--------------------------------------------------------------
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.hide.focusable:focus,
.hide.focusable:active {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
/*
 *--------------------------------------------------------------
 * PAGE LAYOUT
 * Customization starts here
 *
 *--------------------------------------------------------------
 */
.row,
.main,
.navbar {
  width: 100%;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
.row,
.main {
  max-width: 1140px;
}
.main {
  padding-left: 20px;
  padding-right: 20px;
}
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol,
.thirteencol,
.fourteencol,
.fifteencol,
.sixteencol {
  float: left;
}
.row-fluid .onecol,
.row-fluid .twocol,
.row-fluid .threecol,
.row-fluid .fourcol,
.row-fluid .fivecol,
.row-fluid .sixcol,
.row-fluid .sevencol,
.row-fluid .eightcol,
.row-fluid .ninecol,
.row-fluid .tencol,
.row-fluid .elevencol,
.row-fluid .twelvecol,
.row-fluid .thirteencol,
.row-fluid .fourteencol,
.row-fluid .fifteencol,
.row-fluid .sixteencol {
  margin-right: 1.82%;
}
.row-fluid .onecol {
  width: 4.55%;
}
.row-fluid .twocol {
  width: 10.92%;
}
.row-fluid .threecol {
  width: 17.27%;
}
.row-fluid .fourcol {
  width: 23.64%;
}
.row-fluid .fivecol {
  width: 30%;
}
.row-fluid .sixcol {
  width: 36.36%;
}
.row-fluid .sevencol {
  width: 42.73%;
}
.row-fluid .eightcol {
  width: 49.09%;
}
.row-fluid .ninecol {
  width: 55.45%;
}
.row-fluid .tencol {
  width: 61.82%;
}
.row-fluid .elevencol {
  width: 68.18%;
}
.row-fluid .twelvecol {
  width: 74.55%;
}
.row-fluid .thirteencol {
  width: 80.90%;
}
.row-fluid .fourteencol {
  width: 87.27%;
}
.row-fluid .fifteencol {
  width: 93.64%;
}
.row-fluid .sixteencol {
  width: 100%;
}
.row .onecol,
.row .twocol,
.row .threecol,
.row .fourcol,
.row .fivecol,
.row .sixcol,
.row .sevencol,
.row .eightcol,
.row .ninecol,
.row .tencol,
.row .elevencol,
.row .twelvecol,
.row .thirteencol,
.row .fourteencol,
.row .fifteencol,
.row .sixteencol {
  margin-right: 20px;
}
.row .onecol {
  width: 50px;
}
.row .twocol {
  width: 120px;
}
.row .threecol {
  width: 190px;
}
.row .fourcol {
  width: 260px;
}
.row .fivecol {
  width: 330px;
}
.row .sixcol {
  width: 400px;
}
.row .sevencol {
  width: 470px;
}
.row .eightcol {
  width: 540px;
}
.row .ninecol {
  width: 610px;
}
.row .tencol {
  width: 680px;
}
.row .elevencol {
  width: 750px;
}
.row .twelvecol {
  width: 820px;
}
.row .thirteencol {
  width: 890px;
}
.row .fourteencol {
  width: 960px;
}
.row .fifteencol {
  width: 1030px;
}
.row .sixteencol {
  width: 1100px;
}
.gridrow {
  margin-bottom: 20px;
}
.row,
.row-fluid {
  overflow: hidden;
}
.row .grid,
.row-fluid .grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #efefef;
  padding: 3px;
  text-align: center;
}
.row .last,
.row-fluid .last {
  margin-right: 0px;
}
.navbar {
  background-color: #222222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#000000));
  background-image: -webkit-linear-gradient(top, #434343, #000000);
  background-image: -moz-linear-gradient(top, #434343, #000000);
  background-image: -ms-linear-gradient(top, #434343, #000000);
  background-image: -o-linear-gradient(top, #434343, #000000);
  background-image: linear-gradient(top, #434343, #000000);
  padding: 0 50px;
}
.navbar nav {
  float: left;
  display: block;
}
.navbar nav ul {
  width: 600px;
}
.navbar nav ul li {
  text-align: center;
}
.navbar nav ul li a {
  display: block;
  float: left;
  margin: 0;
  padding: 10px;
  color: #666;
  text-decoration: none;
}
.navbar nav ul li a.active,
.navbar nav ul li a:hover {
  color: #fff;
  background: #000;
}
.navbar nav ul li.home a {
  width: 20px;
  height: 19px;
  margin: 10px 12px 0 0;
  overflow: hidden;
  position: relative;
  display: block;
  float: left;
  padding: 0;
}
.navbar nav ul li.home a:before {
  margin: -19px 0 0;
  content: url(../images/icon-home.png);
  line-height: 0;
  font-size: 0;
  display: inline-block;
}
.navbar nav ul li.home a:hover:before,
.navbar nav ul li.home a.active:before {
  margin: 0;
}
.main header {
  margin: 0 0 40px;
}
.main header h1 {
  margin-bottom: 0;
  font-size: 40px;
  font-size: 2.857142857142857rem;
}
.main header h2 {
  font-weight: normal;
  margin: 0;
}
.main section {
  padding: 0;
}
.main section.page-section {
  margin: 0 0 40px;
}
.main section .section-header {
  border-bottom: solid 1px #ececec;
  padding: 0;
  margin: 0 0 1em;
}
.main section .section-header h1 {
  margin: 0;
  font-size: 28px;
  font-size: 2rem;
}
.main section .section-header h1 small {
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  color: #666;
  font-weight: normal;
}
.main section .row-fluid h2,
.main section .row h2 {
  margin: 0;
  font-size: 18px;
  font-size: 1.2857142857142858rem;
}
footer {
  font-size: 11px;
  font-size: 0.7857142857142857rem;
  padding: 1em 0;
  border-top: solid 1px #efefef;
}
/*
 *--------------------------------------------------------------
 * MEDIA QUERIES
 * Modify as content requires
 *--------------------------------------------------------------
 */
@media screen and (max-width: 320px) {
  
}
@media screen and (max-width: 480px) {
  
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 5px;
  }
  .row,
  body,
  .container,
  .main,
  .navbar {
    width: 100%;
    min-width: 0;
  }
  .main,
  .row .onecol,
  .row .twocol,
  .row .threecol,
  .row .fourcol,
  .row .fivecol,
  .row .sixcol,
  .row .sevencol,
  .row .eightcol,
  .row .ninecol,
  .row .tencol,
  .row .elevencol,
  .row .twelvecol {
    width: auto;
    float: none;
  }
}
@media screen and (max-width: 1024px) {
  
}
/*
 *--------------------------------------------------------------
 * PRINT
 *--------------------------------------------------------------
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  img {
    max-width: 100% !important;
  }
  a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
}
