/*
 *--------------------------------------------------------------
 * FrontKit Example - Main Stylesheet
 *
 * codename: FrontKit
 * Date: @DATE
 *
 *
 * LESS - http://lesscss.org
 * jQuery - http://jquery.com
 * Modernizr - http://modernizr.com/
 * HTML5 Boilerplate - http://html5boilerplate.com/
 *
 * 
 *
 *--------------------------------------------------------------
 */



// Normalize
@import "lib/normalize.less";


// Variables
@import "lib/variables.less";


// Mixins
@import "lib/mixins.less";


// Base stylesheets
@import "lib/foundation.less";


// Common elements
@import "lib/common.less";


/*
 *--------------------------------------------------------------
 * PAGE LAYOUT
 * Customization starts here
 *
 *--------------------------------------------------------------
 */


// Grids
#grid > .fixed();
#grid > .fluid();
#grid > .rows();
#grid > .offset();

.main, 
.navbar {

	width: 100%;
	min-width: @minWidthPX;
	margin: 0 auto;
	overflow: hidden;
}

.main { max-width: @maxWidthPX; }

.main {
	padding-left: @containerGutterPX;
	padding-right: @containerGutterPX;
}





// Navbar
.navbar {
	.box-gradient(#434343, #000, 2);
	padding: 0 50px;
	nav {
		float: left;
		display: block;
		ul {
			width: 600px;
			li {
				text-align: center;
				a {
					cursor: pointer;
					display: block;
					float: left;
					margin: 0;
					padding: 10px;
					color: #666;
					text-decoration: none;
					&.active,
					&:hover {
						color: #fff;
						background: #000;
					}
				}
				&.home a { 
					width: 20px;
					height: 19px;
					margin: 10px 12px 0 0;
					overflow: hidden;
					position: relative;
					display: block;
					float: left;
					padding: 0;
					background: none;
					&:hover { background: none; }
					&:before {
						margin: -19px 0 0;
						content: url(../images/icon-home.png);
						line-height: 0;
						font-size: 0;
						display: inline-block;
					}
					&:hover:before,
					&.active:before { margin: 0; }
				}
			}
		}
	}
}


// Body
.main {
	header {
		margin: 0 0 40px;
		h1 { 
			//margin-bottom: 0;
			.font-size(40);
			margin-top:.525em;
		}
		h2 { 
			font-weight: normal;
			margin: 0 0 1.75em;
		}
	}
	section {
		padding: 0;
		&.page-section {
			margin: 0 0 40px;
		}
		p { margin-top: 0;}
		.section-header { 
			border-bottom: solid 1px #ececec; 
			padding: 0;
			margin: 0 0 1.125em;
			h1 { 
				margin: 0; 
				padding: 0.375em 0;
				.font-size(28); 
				small {
					.font-size(12);
					color: #666;
					font-weight: normal;
				}
			}
		}
		.row-fluid,
		.row {
			> h2 { 
				//margin: .59em 0; 
				.font-size(18); 
				//font-weight: normal;
			}
		}
	}
}

// Pages


// Footer
footer {
	.font-size(11);
	padding: 1em 0;
	border-top: solid 1px #efefef;
}





/*
 *--------------------------------------------------------------
 * MEDIA QUERIES
 * Modify as content requires
 *--------------------------------------------------------------
 */


// iPhone orientation portrait
@media screen and (min-width: 320px) {
}

// iPhone orientation landscape
@media screen and (min-width: 480px) {

}

// iPads, tablets & netbooks
@media screen and (min-width: 600px) {
	/*.navbar { padding:0 5px;}
	.row, body, .container, .main, .navbar {
		width: 100%;
		min-width: 0;
		margin: 0;
		padding: 0;
	}
	.main, .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin: 0;
		padding: 0;
	}*/
}

// Desktop/large screen
@media screen and (min-width: 1200px) {
}





/*
 *--------------------------------------------------------------
 * PRINT
 *--------------------------------------------------------------
 */

@media print {
	* { 
		background: transparent !important; 
		color: black !important; 
		box-shadow:none !important; 
		text-shadow: none !important; 
		filter:none !important;
		 -ms-filter: none !important; 
	}	
	img { max-width: 100% !important; }
	a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
}